{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}TravelingCompanion.com{% endblock %}</title>

<link href="{% static "companions/css/ui-lightness/jquery-ui-1.10.3.custom.css" %}" rel="stylesheet">
<script src="{% static "companions/js/jquery-1.9.1.js" %}"></script>
  <script src="/static/companions/js/jquery-ui-1.10.3.custom.min.js"></script>
<script>
  $(function() {
    $( "#id_departureDate" ).datepicker();
  });
  </script>

<style>
    .field {
     margin: 0px;
        padding: 0px
    }


</style>
</head>
<body>
<H1>Traveling companion</H1>
{% block auth %}
<H5 class="field" style="position: relative; top: -20px; left: 10px; ">
{% if user.is_authenticated %}
Hi {{ user.username }}! <a href="/accounts/logout/">logout</a>
{% else %}
<a href="/accounts/login/">Log in</a> or <a href="/accounts/register/">Sign Up</a>
</H5>
{%  endif %}

{% endblock %}

{% block content %}
{% endblock %}
</body>
</html>